# list

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]

In [2]:
list1

['physics', 'chemistry', 1997, 2000]

In [5]:
#Accessing elements of list 

list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [6]:
#using backward indexing

print("list1[-1]: ", list1[-1])

list1[-1]:  2000

In [8]:
#Deleting List Elements
list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [11]:
list1.append(56985)

In [12]:
list1

['physics', 'chemistry', 2000, 56985]

In [17]:
list1.pop(2)

2000

In [18]:
list1

['physics', 'chemistry', 56985]

# Tuple

In [22]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = ("a", "b", "c", "d");

In [23]:
#Acessing tuple items
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0]);
print ("tup2[1:5]: ", tup2[1:5]);

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [27]:
#deleting tuples items
tup = ('physics', 'chemistry', 1997, 2000);
print(tup);

('physics', 'chemistry', 1997, 2000)

In [30]:
del (tup);
print("After deleting tup : ");
print(tup);

NameError: name 'tup' is not defined

# Dictionary

In [32]:
#acessing value of dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [38]:
#Deleting dictionary items
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'

print("dict['Age']: ", dict['Age']);
dict

dict['Age']:  7

{'Age': 7, 'Class': 'First'}